<ion-view view-title="Bok">
  <ion-content padding="true" ng-show="vm.book">

<div class="book card">

  <div class="item" style="padding-bottom: 6px;">

    <span class="item-note">
      <a ng-click="vm.toggleFavorite()" style="font-size:2.8em;" class="energized">
        <i ng-hide="vm.book.isFavorite" class="ion-ios-star-outline"></i>
        <i ng-show="vm.book.isFavorite" class="ion-ios-star"></i>
      </a>
    </span>

    <h2 style="white-space: normal">{{vm.book.title}}</h2>

    <p>{{vm.book.authors}}</p>
  </div>

  <div class="row">
    <div class="col">
      <p ng-show="vm.book.date"><span class="label">År:</span> {{vm.book.date}}</p>
      <p ng-show="vm.book.publisher"><span class="label">Utgiver:</span> {{vm.book.publisher}}</p>
      <p ng-show="vm.book.edition"><span class="label">Utgave:</span> {{vm.book.edition}}</p>
      <p ng-show="vm.book.series"><span class="label">Serie:</span> {{vm.book.series}}</p>
      <p ng-show="vm.book.bib_format"><span class="label">Format:</span> {{vm.book.bib_format}}</p>
    </div>

    <div class="col col-33">
      <img style="width:100%;" ng-src="{{vm.book.links.cover}}">
    </div>

  </div>

<!--
  <div class="item item-body" ng-show="vm.book.urls.length">
        <div class="row">
          <strong>Online-tilgang:</strong>
        </div>
        <div class="row">
          <div class="col col-25">
            <img src="img/available.png" width="35px;">
          </div>
          <div class="col">
            <a ubo-ext-link href="{{ vm.book.urls[0].url }}" ng-hide="vm.book.urls[0].url.toString().indexOf('uresolver') !== -1">Les online</a>
            <div ng-show="vm.book.urls[0].url.toString().indexOf('uresolver') !== -1">
              <div style="position:absolute;z-index:1; background:#eee;" ng-show="!vm.uresolverLoaded">Laster...</div>
              <iframe ng-src="{{vm.book.urls[0].url}}" style="width:100%;height:120px;" ubo-iframe-onload="vm.uresolverLoaded = true"></iframe>
            </div>
          </div>
        </div>
    </div>-->

  <div ng-if="vm.book.print">

<!--      <div class="item">
        <h3>Hvordan får jeg tak i den?</h3>
      </div>-->

      <div class="item item-icon-left balanced" ng-if="vm.book.print.available">
        <i class="icon ion-checkmark-circled"></i>
        {{ vm.book.print.statusMessage }}
      </div>
      <div class="item item-icon-left assertive" ng-if="!vm.book.print.available">
        <i class="icon ion-close-circled"></i>
        {{ vm.book.print.statusMessage }}
      </div>

      <div class="item" ng-if="!vm.book.print.available">

        <p>
          Bestille/reservere boka?
        </p>

        <a class="button button-clear button-energized" ubo-ext-link href="mailto:realfagsbiblioteket@ub.uio.no?subject={{vm.book.title}} {{vm.book.edition}} ({{vm.book.date}})">Kontakt oss</a>

      </div>

      <!-- Help locating the item -->
      <div ng-if="vm.book.print.available">

          <dl class="dl-horizontal">
            <dt class="label" ng-if="vm.book.print.floor_text">Etasje:</dt>
            <dd ng-if="vm.book.print.floor_text">{{vm.book.print.floor_text}}</dd>
            <dt class="label">Samling:</dt>
            <dd>{{vm.book.print.collection_name}}</dd>
            <dt class="label">Plass:</dt>
            <dd><tt>{{vm.book.print.callcode}}</tt></dd>
          </dl>

          <div class="item" ng-if="vm.book.print.map_url_image">
              <img ng-src="{{vm.book.print.map_url_image}}" alt="Kart" class="full-image">
              <p class="text-center">
                Trykk på kartet for større utgave
              </p>
          </div>

        </div>

    </div>

</div>

<!-- @TODO: Make subject search work
<div class="card" ng-if="vm.book.subjects.realfagstermer && vm.book.subjects.realfagstermer.length">
  <div class="item">
        <p>
        <span class="label">Flere bøker om</span><br>
        <span ng-repeat="subject in vm.book.subjects.realfagstermer">
          <button class="button button-small button-clear button-positive ion-ios-pricetag">
             {{ subject }}
          </button>
        </span>
      </p>
  </div>
</div>
-->

<!--
    <!-- Electronic -->
    <!--
    <div ng-show="vm.book.urls.length">
        <div class="row">
          <strong>Online-tilgang:</strong>
        </div>
        <div class="row">
          <div class="col col-30">
            <img src="img/available.png" width="35px;">
          </div>
          <div class="col">
            <a ubo-ext-link href="{{ vm.book.urls[0].url }}" ng-hide="vm.book.urls[0].url.toString().indexOf('uresolver') !== -1">Les online</a>
            <div ng-show="vm.book.urls[0].url.toString().indexOf('uresolver') !== -1">
              <div style="position:absolute;z-index:1; background:#eee;" ng-show="!vm.uresolverLoaded">Laster...</div>
              <iframe ng-src="{{vm.book.urls[0].url}}" style="width:100%;height:120px;" ubo-iframe-onload="vm.uresolverLoaded = true"></iframe>
            </div>
          </div>
        </div>
    </div>-->


    <!-- Print --><!--
    <div ng-show="vm.book.print">
        <div class="row">
          <strong>Trykt utgave:</strong>
        </div>

        <div class="row">
          <div class="col">
            <p ng-show="vm.book.print.available && vm.book.print.library === vm.localLibrary"><img src="img/available.png" width="35px"/> Tilgjengelig fra Realfagsbiblioteket.</p>
            <p ng-show="vm.book.print.available && vm.book.print.library !== vm.localLibrary"><img src="img/available.png" width="35px"/> Ikke tilgjengelig fra Realfagsbiblioteket, men tilgjengelig fra et annet bibliotek. <a ubo-ext-link href="mailto:realfagsbiblioteket@ub.uio.no?subject={{vm.book.title}} {{vm.book.edition}} ({{vm.book.date}})">Kontakt oss</a> for informasjon.
            <p ng-hide="vm.book.print.available"><img src="img/unavailable.png" width="35px"/> Ikke tilgjengelig. <a ubo-ext-link href="mailto:realfagsbiblioteket@ub.uio.no?subject={{vm.book.title}} {{vm.book.edition}} ({{vm.book.date}})">Kontakt oss</a> for å reservere eller bestille den.</p>
          </div>
        </div>

        <div class="row" ng-show="vm.book.print.floor_text">
          <div class="col col-30">Etasje</div>
          <div class="col">{{vm.book.print.floor_text}}</div>
        </div>
        <div class="row" ng-show="vm.book.print.collection_name">
          <div class="col col-30">Samling</div>
          <div class="col">{{vm.book.print.collection_name}}</div>
        </div>
        <div class="row" ng-show="vm.book.print.callcode">
          <div class="col col-30">Kode</div>
          <div class="col">{{vm.book.print.callcode}}</div>
        </div>

        <div class="row" ng-show="vm.book.print.map_url_image!=''">
          <div class="col">
            <img ng-src="{{vm.book.print.map_url_image}}" width="100%" alt="">
          </div>
        </div>
    </div>-->

  </ion-content>
  <ion-content padding="true" ng-hide="vm.book">
    <p>
      Noe gikk galt: {{ vm.error || 'Ukjent feil.' }}
    </p>
  </ion-content>
</ion-view>
