<ion-view view-title="Book">
  <ion-content padding="true" ng-show="vm.book">
    <div class="row">
      <div class="col-80">
        <h1>{{vm.book.title}}</h1>
      </div>
      <div class="col-20">
        <a ng-click="vm.toggleFavorite()">
          <i ng-hide="vm.book.isFavorite" class="ion-ios-star-outline" style="font-size:4em"></i>
          <i ng-show="vm.book.isFavorite" class="ion-ios-star" style="font-size:4em"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <p>by {{vm.book.authors}}</p>
    </div>
    <div class="row">
      <div class="col-100"><p>{{vm.book.note}}</p></div>
    </div>
    <div class="row">
      <div class="col-20">Year</div>
      <div class="col">{{vm.book.year}}</div>
    </div>
    <div class="row" ng-show="vm.book.isbn.length">
      <div class="col-20">ISBN</div>
      <div class="col">{{vm.book.isbn[0]}}</div>
    </div>
    <div class="row" ng-show="vm.book.isbn.length">
      <div class="col-20">Edition</div>
      <div class="col">{{vm.book.edition}}</div>
    </div>
    <div class="row">
      <div class="col-20">Format</div>
      <div class="col">{{vm.book.format}}</div>
    </div>
    <div class="row">
      <div class="col-20">Floor</div>
      <div class="col">{{vm.book.floorText}}</div>
    </div>
    <div class="row">
      <div class="col-20">Collection</div>
      <div class="col">{{vm.book.collection}}</div>
    </div>
    <div class="row">
      <div class="col-20">Code</div>
      <div class="col">{{vm.book.callnumber}}</div>
    </div>
    <div class="row">
      <div class="col-100">
        <p ng-show="vm.book.itemAvailable=='AVAILABLE'"><img src="img/available.png" width="35px"/> Available</p>
        <p ng-show="vm.book.itemAvailable=='UNAVAILABLE'"><img src="img/unavailable.png" width="35px"/> Unavailable</p>
        <p ng-show="vm.book.itemAvailable=='ONORDER'"><img src="img/unavailable.png" width="35px"/> On order</p>
      </div>
    </div>
    <div class="row" ng-show="vm.book.mapUrlImage!=''">
      <div class="col-100">
        <img ng-src="{{vm.book.mapUrlImage}}" alt="">
      </div>
    </div>
  </ion-content>
  <ion-content padding="true" ng-hide="vm.book">
    <p>No book found.</p>
  </ion-content>
</ion-view>
