<ion-view view-title="Bok">
  <ion-content padding="true" ng-show="vm.book">
    <div class="row">
      <div class="col col-80">
        <h2 class="book-title">{{vm.book.title}}</h2>
        <div ng-show="vm.book.authors">
          av {{vm.book.authors}}
        </div>
      </div>
      <div class="col col-20">
        <a ng-click="vm.toggleFavorite()">
          <i ng-hide="vm.book.isFavorite" class="ion-ios-star-outline" style="font-size:4em"></i>
          <i ng-show="vm.book.isFavorite" class="ion-ios-star" style="font-size:4em"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col"><img height="200px" ng-src="{{vm.book.links.cover}}"></div>
    </div>
    <div class="row">
      <div class="col"><p>{{vm.book.note}}</p></div>
    </div>
    <div class="row" ng-show="vm.book.publisher">
      <div class="col col-30">Forlag</div>
      <div class="col">{{vm.book.publisher}}</div>
    </div>
    <div class="row" ng-show="vm.book.date">
      <div class="col col-30">År</div>
      <div class="col">{{vm.book.date}}</div>
    </div>
    <div class="row" ng-show="vm.book.isbn.length">
      <div class="col col-30">ISBN</div>
      <div class="col">{{vm.book.isbns[0]}}</div>
    </div>
    <div class="row" ng-show="vm.book.edition">
      <div class="col col-30">Utgave</div>
      <div class="col">{{vm.book.edition}}</div>
    </div>
    <div class="row">
      <div class="col col-30">Format</div>
      <div class="col">{{vm.book.format || 'Unknown'}}</div>
    </div>

    <!-- Electronic -->
    <div ng-show="vm.book.urls.length">
        <div class="row">
          <strong>Online-tilgang:</strong>
        </div>
        <div class="row">
          <div class="col col-30">
            <img src="img/available.png" width="35px;">
          </div>
          <div class="col">
            <a ubo-ext-link href="{{ vm.book.urls[0].url }}" ng-hide="vm.book.urls[0].url.toString().indexOf('uresolver') !== -1">Les online</a>
            <div ng-show="vm.book.urls[0].url.toString().indexOf('uresolver') !== -1">
              <div style="position:absolute;z-index:1; background:#eee;" ng-show="!vm.uresolverLoaded">Laster...</div>
              <iframe ng-src="{{vm.book.urls[0].url}}" style="width:100%;height:120px;" ubo-iframe-onload="vm.uresolverLoaded = true"></iframe>
            </div>
          </div>
        </div>
    </div>


    <!-- Print -->
    <div ng-show="vm.book.print">
        <div class="row">
          <strong>Trykt utgave:</strong>
        </div>

        <div class="row">
          <div class="col">
            <p ng-show="vm.book.print.available && vm.book.print.library === vm.localLibrary"><img src="img/available.png" width="35px"/> Tilgjengelig fra Realfagsbiblioteket.</p>
            <p ng-show="vm.book.print.available && vm.book.print.library !== vm.localLibrary"><img src="img/available.png" width="35px"/> Ikke tilgjengelig fra Realfagsbiblioteket, men tilgjengelig fra et annet bibliotek. Kontakt oss på <a ubo-ext-link href="mailto:realfagsbiblioteket@ub.uio.no">realfagsbiblioteket@ub.uio.no</a> for informasjon.
 <!--            <p ng-show="vm.book.print.available && vm.book.print.library !== vm.localLibrary"><img src="img/available.png" width="35px"/> Not available at Realfagsbiblioteket, but available at {{ vm.book.print.library}}. Call XYZ or ask at the reception if you need directions.</p> -->
            <p ng-hide="vm.book.print.available"><img src="img/unavailable.png" width="35px"/> Ikke tilgjengelig. Kontakt oss på <a ubo-ext-link href="mailto:realfagsbiblioteket@ub.uio.no">realfagsbiblioteket@ub.uio.no</a> for å reservere eller bestille den.</p>
          </div>
        </div>

        <!-- Help locating the item -->
        <div class="row" ng-show="vm.book.print.floor_text">
          <div class="col col-30">Etasje</div>
          <div class="col">{{vm.book.print.floor_text}}</div>
        </div>
        <div class="row" ng-show="vm.book.print.collection_name">
          <div class="col col-30">Samling</div>
          <div class="col">{{vm.book.print.collection_name}}</div>
        </div>
        <div class="row" ng-show="vm.book.print.callcode">
          <div class="col col-30">Kode</div>
          <div class="col">{{vm.book.print.callcode}}</div>
        </div>

        <div class="row" ng-show="vm.book.print.map_url_image!=''">
          <div class="col">
            <img ng-src="{{vm.book.print.map_url_image}}" width="100%" alt="">
          </div>
        </div>
    </div>

  </ion-content>
  <ion-content padding="true" ng-hide="vm.book">
    <p>
      Noe gikk galt: {{ vm.error || 'Ukjent feil.' }}
    </p>
  </ion-content>
</ion-view>
