<ion-view view-title="Hjem">
  <ion-content padding="true">
    <h1>Realfagsbiblioteket</h1>
    <p>Velkommen til Realfagsbiblioteket-appen! Her kan finne bøker Realfagsbiblioteket har i sine samlinger, sjekke utlånsstatus og (etterhvert) reservere bøker. Merk at dette er en tidlig utgave av appen, og tilbakemeldinger settes stor pris på. Mail oss gjerne på <a href="mailto:scriptoteket@ub.uio.no">scriptoteket@ub.uio.no</a> hvis du har spørsmål eller forslag til forbedringer.</p>
    <p>Du kan søke og finne bøker ved å trykke på meny-knappen øverst til venstre, eller <a ui-sref="app.intro">trykke her for en kort introduksjon</a>.</p>
    <div class="col text-center">
      <img class="page-image" src="img/UiO_UBREAL_Segl_A_cmyk2BLACK.png">
    </div>
  </ion-content>
</ion-view>
