<ion-view view-title="Browse">
  <ion-content>
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti ab, aspernatur earum illo ducimus est omnis voluptatem neque. Tempore totam distinctio maiores corporis laudantium explicabo magni repellat nam accusamus incidunt. Explicabo quis, quia qui rerum necessitatibus officia, iure voluptatibus! Illum, repudiandae deleniti!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates assumenda ducimus aut rerum adipisci voluptatibus culpa autem nam, consequatur atque eveniet.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia magni doloribus illum est, numquam sapiente adipisci saepe delectus odio animi natus minus, deleniti. Numquam reprehenderit voluptatem facilis minima eveniet voluptas distinctio similique quis est praesentium, asperiores facere. Quam deserunt vel similique perferendis vero exercitationem porro iusto expedita repudiandae, ipsa est, accusantium laboriosam in! Quo, labore?</p>
  </ion-content>
</ion-view>
