<ion-view view-title="Realfagsbiblioteket">
  <ion-content padding="true">


    <div class="card">

      <div class="item item-text-wrap">
        Finn en bok ved å søke eller skanne en ISBN-kode.

        <div class="row no-padding">
          <div class="col">
            <a ui-sref="app.search" class="button button-full button-balanced icon ion-ios-search">
                Søk
            </a>
          </div>
          <div class="col">
            <button ui-sref="app.isbn" class="button button-full button-balanced icon ion-ios-barcode-outline">
              ISBN
            </button>
          </div>
        </div>
      </div>

    </div>

    <div class="card">

      <div class="item item-text-wrap">
      Dette er en tidlig utgave av en nyskrevet versjon av appen, så det vil komme mer funksjonalitet etter hvert.
        Tilbakemeldinger settes stor pris på – enten på <a ubo-ext-link href="https://github.com/scriptotek/emnesok">GitHub</a> eller til <a ubo-ext-link href="mailto:bib-lab-drift@ub.uio.no">bib-lab-drift@ub.uio.no</a>.
      </div>
      <!--
      <div class="item item-text-wrap">
        Du kan søke og finne bøker ved å trykke på meny-knappen øverst til venstre, eller <a ui-sref="app.intro">trykke her for en kort introduksjon</a>.
      </div>
      -->
    </div>

  </ion-content>
</ion-view>
