<ion-view view-title="Intro">
    <ion-slide-box on-slide-changed="slideChanged(index)">

        <ion-slide>
            <ion-content>
                <div class="row">
                    <div class="col col-100">
                        <p><img src="img/icon-realfagsbiblioteket.png"></p>
                        <p>Velkommen til Realfagsbibliotek-appen!</p>
                        <p>Her vil du få en kort introduksjon til appens funksjoner. Swipe til høyre for å begynne. Du kan hele tiden klikke på pilen oppe til venstre for å avslutte introen.</p>
                    </div>
                </div>
            </ion-content>
        </ion-slide>

        <ion-slide>
            <ion-content>
                <div class="row">
                    <div class="col col-100">
                        <h3>Finne bøker</h3>
                        <div>
                            <ol class="ordered-list">
                                <li>Trykk på menyikonet</li>
                                <li>Trykk "Søk"</li>
                                <li>Skriv inn søketekst (boktittel, forfatter eller ISBN) og klikk søk eller enter. Eventuelt kan du trykke "Scan barkode" for å scanne en bok du allerede har funnet.</li>
                            </ol>
                        </div>
                        <p><br><img class="page-image" src="img/intro-sok-resultater.png"></p>
                    </div>
                </div>
            </ion-content>
        </ion-slide>

        <ion-slide>
            <ion-content>
                <div class="row">
                    <div class="col col-100">
                        <h3>Sjekke tilgjengelighet</h3>
                        <p>Hvis du trykker på en bok i resultatlisten kan du se tilgjengelighet hos oss, og etterhvert også hos de andre bibliotekene ved Unviersitetet.</p>
                        <p><img class="page-image" src="img/intro-bok-tilgjengelighet.png"></p>
                    </div>
                </div>
            </ion-content>
        </ion-slide>

        <ion-slide>
            <ion-content>
                <div class="row">
                    <div class="col col-100">
                        <h3>Lagre bøker</h3>
                        <p>Når du har funnet en bok du vil lagre i favoritter, kan du trykke på stjerne-ikonet til høyre for boktittelen. Da vil boken være tilgjengelig fra "Favoritter" i menyen.</p>
                        <p><img class="page-image" src="img/intro-favoritter.png"></p>
                    </div>
                </div>
            </ion-content>
        </ion-slide>

        <ion-slide>
            <ion-content>
                <div class="row">
                    <div class="col col-100">
                        <h3>That's it!</h3>
                        <p>Appen vår er ganske enkel foreløpig. I fremtiden vil det også være mulig å reservere bøker. Om du har forslag til appen setter vi stor pris på en epost til <a href="mailto:scriptoteket@ub.uio.no">scriptoteket@ub.uio.no</a> :) Klikk på pilen oppe til venstre for å avslutte.</p>
                    </div>
                </div>
            </ion-content>
        </ion-slide>

    </ion-slide-box>
</ion-view>