<div class="row item-icon-right">
  <div class="col-80">
    <h3>{{book.title}}</h3>
    <p>{{book.authors}}</p>
  </div>
  <div class="col-20 col-offset-10">
    <p ng-show="book.type === 'group'">
      <img src="img/icon-books.jpg" width="35px" alt="Multiple editions">
    </p>
    <p ng-show="book.material && book.material.indexOf('e-books') != -1">
      <img src="img/icon-ebook.jpg" width="35px" alt="Ebook"/>
    </p>
    <p ng-show="book.material && book.material.indexOf('print-books') != -1">
      <img src="img/icon-book.jpg" width="35px" alt="Printed book"/>
    </p>
  </div>
  <i class="icon ion-ios-arrow-right"></i>
</div>