<ion-view view-title="Search">
  <ion-content>
    <ion-list>

      <!-- Form needed to search on enter keypress -->
      <form ng-submit="vm.search()">
        <label class="item item-input item-button-right">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search" ng-model="vm.searchQuery">
        </label>
      </form>

      <div class="item no-padding">
        <div class="row no-padding">
          <div class="col">
            <button ng-click="vm.search()" class="button button-full button-positive">Search</button>
          </div>
          <div class="col">
            <button ng-click="vm.scanBarcode()" class="button button-full button-positive">
              Scan barcode
              <i class="icon ion-ios-barcode-outline"></i>
            </button>
          </div>
        </div>
      </div>

      <div ng-show="vm.results.length" class="item item-divider">
        Results
        <div ng-click="vm.toggleEbooks()" class="text-right" style="float:right">
          Show E-books
          <label class="toggle toggle-assertive">
            <input ng-model="vm.showEbooks" type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
      </div>

      <ion-item ng-repeat="book in vm.results" href="#/app/view/{{book.id}}" ng-hide="book.material.indexOf('electronic') !== -1 && vm.showEbooks === false">
        <div ng-include src="'templates/listResults.html'"></div>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
