<ion-view view-title="Søk">
  <ion-content>
    <ion-list>

      <!-- Form needed to search on enter keypress -->
      <form ng-submit="vm.search()">
        <label class="item item-input item-button-right">
          <i class="icon ion-search placeholder-icon"></i>
          <input
            ubo-focus="!vm.searchQuery.length"
            type="text"
            placeholder="Tittel, forfatter eller ISBN"
            ng-model="vm.searchQuery"
            ng-change="vm.searchQueryUpdated()">
        </label>
      </form>

      <div ng-show="vm.results.length" class="item item-divider">
        Resultater
        <!-- TODO: Toggle ebooks for v2.0
        <div ng-click="vm.toggleEbooks()" class="text-right" style="float:right">
          Show E-books
          <label class="toggle toggle-assertive">
            <input ng-model="vm.showEbooks" type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div> -->
      </div>

      <!-- The ng-hide will hide any book from the results if the viewmodel variable showEbooks is set to false AND the book.material property has the word "electronic" in it. -->
      <!-- <ion-item ng-repeat="book in vm.results" href="#/app/view/{{book.id}}" ng-hide="book.material.indexOf('electronic') !== -1 && vm.showEbooks === false"> -->
      <ion-item ng-repeat="book in vm.results" ng-click="vm.clickResult(book)" ng-hide="book.material.indexOf('electronic') !== -1 && vm.showEbooks === false">
        <div ng-include src="'templates/listResults.html'"></div>
      </ion-item>

      <ion-infinite-scroll
        on-infinite="vm.loadMore()"
        distance="1%"
        immediate-check="false"
        ng-if="vm.canLoadMoreResults && vm.initialSearchCompleted">
      </ion-infinite-scroll>

      <!-- show if no search results -->
      <ion-item ng-show="vm.noResults">
        <div class="row">Ingen resultater for søkestreng "{{vm.searchQuery}}"</div>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
