<ion-view view-title="Søk">
  <ion-content>

    <div class="card" ng-show="!vm.error && !vm.title">
      <div class="item" translate>
        Waiting for the camera...
      </div>
    </div>

    <div class="book card" ng-if="vm.error">
      <div class="item item-icon-left item-text-wrap assertive">
        <i class="icon ion-close-circled"></i>
        {{ vm.error || 'An unknown error occured.' }}
      </div>

      <div class="item" ng-if="!vm.cameraDenied">
        <button class="button button-full button-balanced" ng-click="vm.scan()" translate>Retry</button>
      </div>

      <div class="item" ng-if="vm.cameraDenied">
        <button class="button button-full button-balanced" ng-click="vm.openPermissionSettings()" translate>Grant permission</button>
      </div>
    </div>

    <div class="book card" ng-if="vm.title">
      <div class="item item-text-wrap" translate>
        We don't have an edition with ISBN {{vm.isbn}}, but it could be that we have other editions of the same book.</div>

      <div class="item item-text-wrap" translate>
        You can try a search for the book title («{{ vm.title }}») and author ({{ vm.author }}).
      </div>

      <div class="item">
        <button class="button button-full button-balanced icon ion-ios-search" ng-click="vm.authorTitleSearch()" translate>Search for title + author</button>
      </div>
    </div>

  </ion-content>
</ion-view>
