<ion-view view-title="Om appen">
  <ion-content padding="true">

  <div class="book card">
    <div class="card-content">

      <div style="display:flex;">
        <div style="flex: 0 1 25%; padding-right:1em;">
          <img src="images/icon-512.png" style="width:100%;">
        </div>
        <div style="flex: 1 1 auto">
          <h2 style="padding-top:0;" translate>UiO : Realfagsbiblioteket</h2>
          <p>
            <span translate>App version</span>: {{ vm.app_version }} ({{ vm.app_build }})<br>
            <span translate>System</span>: {{ vm.platform }}<br>
            <span translate>Device</span>: {{ vm.device }}<br>
            <span translate>Language</span>: {{ vm.language }}<br>
          </p>
        </div>
      </div>
    </div>

    <label class="item item-input item-select">
      <div class="input-label" translate>
        Language:
      </div>
      <select ng-model="vm.lang" ng-change="vm.setLang()">
        <option ng-repeat="(option, label) in vm.languages" value="{{option}}">{{label.name | translate}}</option>
      </select>
    </label>

    <div class="item item-footer item-icon-left" ng-click="vm.share()">
      <i class="icon ion-share"></i>
      <span translate>Share app</span>
    </div>

  </div>

  <div class="book card">
    <div class="card-content">
      <h2 style="padding-top:0;" translate>Rights</h2>

      <p translate>The app is developed by the Science Library Scriptotek. The icon and related graphics were designed by Yvonne Edvartsen.</p>

      <p><a ubo-ext-link href="https://app.uio.no/ub/bdi/realfagsbiblioteket/" translate>Read more</a></p>
    </div>
  </div>

  <div class="book card">
    <div class="card-content">

      <h2 translate>Third party licenses</h2>

      <p translate>
        The app uses components available the MIT and Apache licenses listed below, in addition to the Scandit Community SDK, used under the terms of the <em>Community License Agreement for Scandit Barcode Scanner</em>. OpenStreetMap maps are © OpenStreetMap contributors (CC-BY-SA).
      </p>

      <ul>
        <li><a ubo-ext-link href="https://github.com/driftyco/ionic">Ionic</a> (MIT)</li>
        <li><a ubo-ext-link href="https://github.com/angular/angular">Angular</a> (MIT)</li>
        <li><a ubo-ext-link href="http://www.scandit.com/products/barcode-scanner/">Scandit Community SDK</a></li>
        <li><a ubo-ext-link href="https://cordova.apache.org/">Cordova</a> (Apache)</li>
        <li><a ubo-ext-link href="https://github.com/dpa99c/cordova-diagnostic-plugin">Cordova diagnostic plugin</a> (MIT)</li>
        <li><a ubo-ext-link href="https://github.com/litehelpers/Cordova-sqlite-storage">Cordova/PhoneGap sqlite storage adapter</a> (MIT)</li>
        <li><a ubo-ext-link href="https://github.com/EddyVerbruggen/SocialSharing-PhoneGap-Plugin">PhoneGap Social Sharing plugin for Android, iOS and Windows Phone</a> (MIT)</li>
        <li><a ubo-ext-link href="https://github.com/driftyco/ng-cordova">ngCordova</a> (MIT)</li>
      </ul>

    </div>
  </div>

  </ion-content>
</ion-view>
