<ion-view view-title="Utgaver">
  <ion-content>
    <ion-list>

      <div ng-show="vm.results.length" class="item item-divider item-text-wrap">
        «{{ vm.results[0].title }}»
        <!--
        <div ng-click="vm.toggleEbooks()" class="text-right" style="float:right">
          Show E-books
          <label class="toggle toggle-assertive">
            <input ng-model="vm.showEbooks" type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
        -->
      </div>

      <!-- The ng-hide will hide any book from the results if the viewmodel variable showEbooks is set to false AND the book.material property has the word "electronic" in it. -->
      <!-- <ion-item ng-repeat="book in vm.results" href="#/app/view/{{book.id}}" ng-hide="book.material.indexOf('electronic') !== -1 && vm.showEbooks === false"> -->
      <ion-item ng-repeat="book in vm.results" ui-sref="app.book({id: book.id})" class="item-icon-left" ng-class="{'balanced': book.available, 'assertive': !book.available}">

        <i class="icon {{book.icon}}"></i>

        <h2>{{book.date}} <span ng-if="book.edition"> : {{book.edition}}</span></h2>
        <p>
          {{ book.statusMessage}}
        </p>
      </ion-item>

      <div class="item item-icon-left item-text-wrap assertive" ng-if="vm.error">
        <i class="icon ion-close-circled"></i>
        <span translate>
          Failed getting results. {{ vm.error }}
        </span>
      </div>

      <div class="item" ng-if="vm.error">
        <button class="button button-full button-balanced" ng-click="vm.retry()" translate>Retry</button>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
