<ion-view view-title="Søk">
  <ion-content>
    <ion-list>

      <!-- Search input -->
      <div class="card">

        <!-- Form needed to search on enter keypress -->
        <form ng-submit="vm.search()">
          <ion-item class="item-button-right" style="padding: 0; padding-right: 40px;">
            <label class="item-input">

              <!--<i class="icon ion-search placeholder-icon"></i>
              --><input
                id="searchInputField"
                ubo-focus="!vm.searchQuery.length"
                type="text"
                placeholder="Tittel, forfatter eller ISBN"
                ng-model="vm.searchQuery"
                ng-change="vm.searchQueryUpdated()">
            </label>
            <button type="button" class="button button-clear button-stable icon ion-android-close" ng-click="vm.clearSearch()" style="top: 0; right: 32px;"></button>
            <button type="button" class="button button-clear button-stable icon ion-android-more-vertical" ng-click="vm.showOptions = !vm.showOptions" style="top: 0; right: 0;"></button>
              <!-- For showing more options -->
          </ion-item>
        </form>

        <!-- Options start -->
        <label class="item item-input item-select" ng-show="vm.showOptions">
          <div class="input-label">
            Søk i
          </div>
          <select ng-model="vm.searchScope" ng-change="vm.search()">
            <option ng-repeat="(option, label) in vm.searchScopes" value="{{option}}">{{label.menuName}}</option>
          </select>
        </label>
        <!--
        <div class="item" ng-show="vm.showOptions">
          <div class="button-bar">
              <a class="button button-small" ng-class="{'button-positive': !isActive('breakfast')}" ng-click="setActive('breakfast')">Trykte bøker</a>
              <a class="button button-small" ng-class="{'button-positive': isActive('lunch')}" ng-click="setActive('lunch')">E-bøker</a>
          </div>
        </div>
        -->
        <!-- Options end -->
      </div>
    </ion-list>


    <div ng-show="vm.showHelpCards">
      <swipe-cards>
        <swipe-card ng-repeat="card in vm.cards" class="card" ubo-prevent-drag on-destroy="vm.cardDestroyed($index)" on-card-swipe="vm.cardSwiped($index)">
          <!--<div class="item item-divider">
          Tips
          </div>-->
          <div class="item item-text-wrap">
            {{card.text}}
          </div>
        </swipe-card>
      </swipe-cards>
    </div>

    <div class="card" ng-show="vm.totalResults === 0">
      <div class="item item-text-wrap">
        Ingen treff i {{ vm.searchScopes[vm.searchScope].name }}.
        <div>

          <button style="margin-top:16px;" ng-show="vm.searchScope == 'UREAL'" class="button button-clear button-balanced icon ion-chevron-right" ng-click="vm.setScope('UBO')"> Utvid til hele UiO</button>

          <button style="margin-top:16px;" ng-show="vm.searchScope != 'BIBSYS'" class="button button-clear button-balanced icon ion-chevron-right" ng-click="vm.setScope('BIBSYS')"> Utvid til alle norske fagbibliotek</button>

        </div>
      </div>
    </div>

      <!-- The ng-hide will hide any book from the results if the viewmodel variable showEbooks is set to false AND the book.material property has the word "electronic" in it. -->
      <!-- <ion-item ng-repeat="book in vm.results" href="#/app/view/{{book.id}}" ng-hide="book.material.indexOf('electronic') !== -1 && vm.showEbooks === false"> -->


    <div class="list card" ng-show="vm.totalResults > 0">

        <div class="item item-divider">
          <div>
            {{vm.totalResults}} treff
            <div class="text-right sortBy" ng-show="vm.totalResults != 0">Sortering:
              <span ng-click="vm.sortBy('date')" ng-class="{true: 'sortBySelected'}[vm.searchQuerySort == 'date']">
                dato
              </span>
              /
              <!--<span ng-click="vm.sortBy('title')" ng-class="{true: 'sortBySelected'}[vm.searchQuerySort == 'title']">
                tittel
              </span> -
              <span ng-click="vm.sortBy('author')" ng-class="{true: 'sortBySelected'}[vm.searchQuerySort == 'author']">
                forfatter
              </span> -
              -->
              <span ng-click="vm.sortBy('relevance')" ng-class="{true: 'sortBySelected'}[vm.searchQuerySort == 'relevance']">
                relevans
              </span>
            </div>
          </div>
        </div>

        <!-- TODO: Toggle ebooks for v2.0
        <div ng-click="vm.toggleEbooks()" class="text-right" style="float:right">
          Show E-books
          <label class="toggle toggle-assertive">
            <input ng-model="vm.showEbooks" type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div> -->

      <ion-item ng-repeat="book in vm.results" ng-click="vm.clickResult(book)" ng-include src="'app/search/result.html'">
      </ion-item>

      <ion-infinite-scroll
        on-infinite="vm.loadMore()"
        distance="1%"
        immediate-check="false"
        ng-if="!vm.error && vm.canLoadMoreResults">
      </ion-infinite-scroll>

      <div class="item item-icon-left item-text-wrap assertive" ng-if="vm.error">
        <i class="icon ion-close-circled"></i>
        Kunne ikke hente resultater:
        {{ vm.error || 'Det oppsto en ukjent feil.' }}
      </div>

      <div class="item" ng-if="vm.error">
        <button class="button button-full button-balanced" ng-click="vm.loadMore()">Prøv på nytt</button>
      </div>

    </div>
  </ion-content>
</ion-view>
