/* Empty. Add your own CSS if you like */

.pane {
  background: #eee;
}

.no-padding {
    padding: 0px !important;
}
.page-image {
  width: 80%
}

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  /*text-align: center;*/
}
.ordered-list {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 2em;
}

h2.book-title {
	font-size: 24px;
}